<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.windingo.vc"
    android:versionCode="16"
    android:versionName="1.0" >

    <!--uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional : -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Calculator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/Theme.NoActionBar" >

        <activity android:name=".MainActivity" android:label="Calculator">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="Visual Calculator" android:icon="@drawable/vcelogo256">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.vcef" />
                <data android:scheme="file" />
                <data android:host="*" />
            </intent-filter>

            <intent-filter android:label="Visual Calculator" android:icon="@drawable/vcelogo256">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.vcef" />
                <data android:scheme="content" />
                <data android:host="*" />
            </intent-filter>

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.windingo.calculator.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="com.windingo.calculator.fileprovider.READ">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>